body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h4,
h5,
h6,
ul,
li {
  font-family: "Italiana", serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

h3 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167em;
  letter-spacing: 0.5em;
  text-align: center;
  margin: 0;
}

p {
  margin: 0;
  text-align: center;
}

li,
ul {
  display: block;
}

h1 {
  font-size: 96px;
  color: white;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 36px;
  line-height: 1.333em;
  letter-spacing: 0.04em;
}

.text-style {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 1.556em;
}

.text-style span {
  display: block;
  font-size: 18px;
  line-height: 1.556em;
  font-weight: 700;
  margin-bottom: 30px;
}

.btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.667em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  padding: 19px 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.btn:hover {
  background: rgba(232, 195, 0, 1);
  border: 1px solid rgba(255, 255, 255, 0);
}

.subtitle,
.other__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.167em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.5em;
}

.other__text {
  letter-spacing: normal;
  line-height: normal;
}

/***************************** header  ***************************************8*/

.header {
  background: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.header__link {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.header__nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.header__list {
  display: flex;
  height: fit-content;
  position: relative;
}

.header__item {
  margin: 50px 40px 0 40px;
}

.header__nav-img {
  margin-top: 25px;
  transition: all 0.8s ease;
}

.header__nav-img:hover {
  transform: rotate(720deg);
}

.header__btn {
  min-width: 200px;
  text-align: center;
}

.header__btn:nth-child(1) {
  margin-right: 40px;
}

h1::after,
h2::after {
  display: block;
  content: "";
  width: 60px;
  height: 5px;
  border-radius: 50px;
  background: rgba(232, 195, 0, 1);
  margin: 0 auto;
}

.header__offer-btn {
  text-align: center;
  margin-top: 30px;
}

.header__subtitle {
  margin-bottom: 14px;
}

.header__offer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.header__arrow {
  position: absolute;
  bottom: 93px;
  display: block;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.header__icon-link {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  transition: all 0.2s ease;
}

.header__icon-link:hover {
  border: 1px solid rgba(255, 255, 255, 0);
  background: rgba(232, 195, 0, 1);
}

.header__icon-link img {
  height: 25px;
}

.header__networks {
  position: absolute;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header__time {
  transform: rotate(-90deg);
  position: absolute;
  left: -140px;
  top: 50%;
  width: 290px;
}

.line {
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  display: block;
  content: "";
  height: 1px;
}

.line-first-g,
.line-second-g {
  width: 530px;
  top: 100px;
}

.line-second-g {
  right: 0;
}

.line-first-g {
  left: 0;
}

.line.line-first-h,
.line.line-second-h {
  height: calc(100% - 101px);
  top: 101px;
  width: 1px;
}

.line-second-h {
  right: 190px;
}

.line-first-h {
  left: 190px;
}

.line.line-third-h {
  height: calc(100% - 200px);
  width: 1px;
  top: 200px;
  left: 50%;
}

.line.line-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  left: 50%;
  transform: translateX(-50%);
  bottom: 83px;
}

/* header  */
/************************************ about-us and team and table  ****************************/

.about-us {
  padding: 100px 0;
}

.about-us__content,
.team__content {
  width: 600px;
}

.about-us .container,
.team__offer,
.table__offer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-us__img,
.team__img,
.table__img,
.specialties__img {
  background: url("../img/coals.jpg") no-repeat;
  position: relative;
  height: 475px;
  width: 475px;
  border-radius: 5px;
  box-shadow: 0 0 60px rgb(0 0 0 / 50%);
  z-index: 2;
}

.about-us__img img,
.team__img img,
.table__img img,
.specialties__img img {
  position: absolute;
  top: 115px;
  right: -125px;
  box-shadow: 0 0 60px rgb(0 0 0 / 50%), inset 0 0 60px rgb(0 0 0 / 50%);
}

.about-us__title::after {
  margin: 15px auto;
}

/* about-us and team  and table */
/****************************** team  ***********************************/

.team {
  background: url("../img/vegetables.jpg") center / cover no-repeat;
  color: rgba(255, 255, 255, 0.8);
  padding: 42px 0 100px;
}

.team__title {
  color: white;
}

.team__title::after {
  margin: 15px auto;
}

.team__img img {
  left: -125px;
}

.team__img {
  background: url("../img/chef.jpg") no-repeat;
}

.team__subtitle {
  color: white;
}

.team__offer {
  margin-top: 45px;
}

.line.team__line {
  height: calc(100% + 142px);
  top: -42px;
  z-index: 1;
}
/* team  */
/****************************************** table  ****************************/
.table {
  padding: 100px 0 40px 0;
}

.table__offer {
  justify-content: start;
}

.table__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 20px;
}

.table__form input {
  background: rgba(229, 229, 229, 1);
  border: none;
  border-radius: 5px;
  padding: 20px;
}

.input-text {
  text-align: start;
  outline: none;
}

.table__btn {
  grid-column: 1/3;
  background: rgba(232, 195, 0, 1);
}
.table__btn:hover {
  background: rgba(232, 195, 0, 0.7);
}
.table__registration {
  width: 570px;
}

.table__img {
  background: url("../img/time.jpg");
  margin-left: 72px;
}

.table__subtitle {
  color: rgba(51, 51, 51, 0.5);
  letter-spacing: 0;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 45px;
}

.table__subtitle span {
  font-weight: 700;
}
/* table  */
/********************************* specialties **************************/
.specialties {
  background: url("../img/private-bg.jpg") center / cover no-repeat;
  padding: 45px 0;
}

.specialties__subtitle {
  text-transform: uppercase;
}

.specialties__img {
  background: url("../img/eat.png") no-repeat;
  background-position: center;
}

.specialties__img img {
  left: -125px;
  right: 0;
}

.specialties-slide {
  padding: 0 311px;
}

.specialties-container {
  margin-top: 45px;
  min-height: 530px;
}

.specialties__offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specialties__content {
  color: white;
  width: 600px;
}

.specialties__title {
  color: white;
}

.specialties__title::after {
  margin: 15px auto;
}

.specialties__text {
  color: rgba(255, 255, 255, 0.8);
}

.specialties-pagination .swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
  width: 10px;
  height: 10px;
  margin: 0 10px !important;
}

.specialties-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
/* specialties */
/* menu  */

.menu {
  padding: 100px 0 65px;
}

.menu__subtitle {
  display: block;
  font-size: 18px;
  line-height: 1.556em;
  font-weight: 700;
  margin-bottom: 30px;
  color: black;
  width: 565px;
  margin: 0 auto;
  text-align: center;
}

.menu__list {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  margin-top: 50px;
}

.menu__type {
  font-family: "Open Sans", sans-serif;
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  width: fit-content;
  padding: 18px 43px;
  color: rgba(51, 51, 51, 1);
}

.menu__item {
  border-right: 1px solid rgba(51, 51, 51, 0.2);
}

.menu__item:last-child {
  border: none;
}

.menu__title::after {
  margin: 15px auto;
}

.menu__name-dishes,
.menu__price {
  font-size: 18px;
  color: rgba(51, 51, 51, 1);
  text-transform: uppercase;
  font-weight: 700;
  text-align: start;
}

.menu__price {
  margin-left: 15px;
}

.menu__name-dishes {
  letter-spacing: 0.05em;
}

.menu__dishes-description {
  font-family: "Open Sans", sans-serif;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  display: block;
  letter-spacing: normal;
}

.menu__list-dishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 87px;
  margin-top: 50px;
}

.menu__item-dishes {
  margin-bottom: 35px;
  display: flex;
}
/* menu  */
/* events */
.events {
  background: url("../img/private-bg.jpg") center / cover no-repeat;
  padding: 0 45px;
}

.events__subtitle {
  text-transform: uppercase;
}
/* events */
